.header {      
    color: $color-white;
    background-image: linear-gradient(to top,
    rgba(0,0,0,.3),
    rgba(0,0,0,.5)),
    url(../img/hero-extraLarge.jpg);    
    background-size: 100% 100%;
    width: 100%;     
    height: 100vh; 
    margin-top: 7rem; 
    position: relative; 
    
    @media only screen and (max-width: $bp-large) {
        background-image: linear-gradient(to top,
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)),
        url(../img/hero-large.jpg);
    }

    @media only screen and (max-width: $bp-smallest) {
        background-image: linear-gradient(to top,
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)),
        url(../img/hero-medium.jpg);
    }

    @media only screen and (max-width: $bp-I-lied-this-is-even-smaller) {
        background-image: linear-gradient(to top,
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)),
        url(../img/hero-small.jpg);
    }

    &__container {
        position: relative;        
        width: 100%;
        height: 100%;
        margin: auto auto;
        overflow-x: hidden;
    }

    &__primary { 
        position: absolute;                    
        font-size: 6rem; 
        font-weight: 300;       
        top: 10%;
        left: 15%;

        @media only screen and (max-width: $bp-medium) {
            font-size: 5.5rem;
        }

        @media only screen and (max-width: $bp-medium-small) {
            font-size: 5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 4rem;
            left: 5%;
        }
    }

    &__secondary {
        position: absolute;        
        font-weight: 300;

        &--1 {   
            font-size: 5rem;         
            top: 30%; 
            left: 30%;

            @media only screen and (max-width: $bp-medium) {
                font-size: 4.5rem;
                left: 25%;
            }

            @media only screen and (max-width: $bp-medium-small) {
                font-size: 4rem;                
            }

            @media only screen and (max-width: $bp-small) {
                left: 15%;               
            }

            @media only screen and (max-width: $bp-smallest) {
                font-size: 3.5rem;
                top: 25%;
                left: 10%;                
            }
        }

        &--2 {  
            font-size: 4rem;          
            top: 65%;
            left: 30%;  
            display: inline-block;
            opacity: 0;
            animation: header-sec--2-slide-up .8s 1.5s ease-out forwards; 

            @media only screen and (max-width: $bp-medium) {
                font-size: 3.5rem;
                left: 25%;
            }

            @media only screen and (max-width: $bp-medium-small) {
                font-size: 3rem;                
            }

            @media only screen and (max-width: $bp-small) {
                left: 15%;               
            }

            @media only screen and (max-width: $bp-smallest) {
                font-size: 2.5rem;
                left: 10%;
                top: 70%;                               
            }
        }
    }

    &__tertiary {
        position: absolute;
        font-size: 3rem;
        top: 40%;
        left: 45%; 
        
        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
            left: 40%;
        }

        @media only screen and (max-width: $bp-medium-small) {
            font-size: 2rem;            
        }

        @media only screen and (max-width: $bp-small) {
            left: 30%;               
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 2rem;
            top: 35%;
            left: 50%;
            transform: translateX(-50%);           
        }

        &--1 {
            font-weight: 300;
            padding-bottom: .5rem;
            display: inline-block;
            opacity: 0;
            animation: header-tert-slide-in-left .8s .5s ease-out forwards; 
            
            @media only screen and (max-width: $bp-smallest) {
                padding-bottom: 1rem;
            }
        }

        &--2 {
            font-weight: 300;
            display: block;
            opacity: 0;
            animation: header-tert-slide-in-left .8s 1s ease-out forwards;   
        }
    }

    &__scroll-container {
        position: absolute;
        display: inline-block;       
        top: 80%;
        left: 50%;        
        transform: translateX(-50%);
        
        .scroll-arrow {
            position: relative;
            display: flex;
            justify-content: center;
            width: 4rem;
            height: 4rem;            
            animation: jump 1.2s infinite;  
            
            @media only screen and (max-width: $bp-small) {
                width: 3rem;
                height: 3rem;               
            }

            &__left-side {              
                width: 2px;                
                background-color: $color-white;                
                box-shadow: -1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.9);
                transform: rotate(-50deg) translateY(.2rem);
                transform-origin: bottom;                
            }

            &__right-side {                
                width: 2px;                
                background-color: $color-white;                
                box-shadow: 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.9);
                transform: rotate(50deg) translateY(.2rem);
                transform-origin: bottom;                
            }
        }     
    }
}