.skills {   
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    &__left {
        background-color: $color-teal;
        color: black;

        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: row;
            padding: 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;               
        }
    }

    &__right {        
        background-image: linear-gradient(to bottom,
        rgba(0,0,0,.1),
        rgba(0,0,0,.9)),
        url(../img/tools.jpg);
        background-size: cover;
        color: $color-white; 
        
        @media only screen and (max-width: $bp-medium) {
            background-image: linear-gradient(to top,
            rgba(0,0,0,.6),
            rgba(0,0,0,.6)),
            url(../img/tools.jpg);
        }
    }
    
    &__whatIDo {
        margin: 5rem; 
        
        @media only screen and (max-width: $bp-medium) {
            margin: 0;
        }
    }

    &__mySkills {              
        margin: 50% 8rem;     
        
        @media only screen and (max-width: $bp-medium) {
            margin: 3rem;
            margin-bottom: 40rem;           
        }
    }

    &__header-primary {
        font-size: 4rem;
        margin: 3rem 0;

        @media only screen and (max-width: $bp-medium) {
            margin: 0;
            margin-bottom: 4rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 2rem;
        }
    }

    &__header-secondary {
        font-size: 3.5rem;
        margin: 2rem 0;
    }

    &__text {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.3;
    }
}

.iconBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__icon {
        width: 15%;
        height: 15%;
        margin: 2rem;

        @media only screen and (max-width: $bp-medium) {
            width: 20%;
            height: 20%;
        }

        @media only screen and (max-width: $bp-small) {
            width: 10%;
            height: 10%;               
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 15%;
            height: 15%;               
        }
    }
}